<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce Site</title>

    {{!-- Navbar CSS --}}
    <link rel="stylesheet" href="styles/navbar.css">
        {{!-- {{> generalcss}} --}}

  </head>
  <body>
    
    {{>navbar}}

    <h1>Welcome to E-Commerce Site</h1>
  </body>
</html>